<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Accordion</title>
</head>
<body>
    <section class="container block">
        <div class="accordion">
            <header class="accordion__header">
                <h2 class="accordion__heading">سابقه تحصیلی</h2>
                <div>
                    <span class="icon">
                        <i class="fas fa-chevron-circle-down"></i>
                    </span>
                </div>
            </header>
            <div class="accordion__content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa vero neque aut voluptates minus eligendi consectetur enim! Dolor placeat omnis qui laborum eligendi, fugit natus ea iusto aspernatur, asperiores beatae.
            </div>
        </div>
    </section>
    <script>
        const accordionHeader = document.querySelector(".accordion__header");
        const accordion = document.querySelector(".accordion");
        accordionHeader.addEventListener("click", (e) => {
            accordion.classList.toggle("accordion__expanded");
        });
    </script>
</body>
</html>